.header__tuggleBtn--Lightbtn {
  cursor: pointer;
  position: relative;
}
.bx-moon {
  font-size: 35px;
  
}
.bxs-moon {
  font-size: 35px;
}
.light {
  html {
    color: #fff;
    background-color: #000;
  }
}
.dark {
  html {
    color: #000;
    background-color: #fff;
  }
}

.hidden {
  opacity: 0;
}
