.wrapper {
  width: 380px;
  margin: 0 auto;
  max-width: 80rem;
  display: inline-block;
}

.cols {
  width: 100%;
  display: flex;
}

.col {
  width: 100%;
  margin: 1rem;
  cursor: pointer;
  display: inline-block;
}

.box {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 25px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #a6bcfa;
  background: -webkit-linear-gradient(45deg, #a6bcfa 0%, #7295f8 100%);
  background: -o-linear-gradient(45deg, #a6bcfa 0%, #7295f8 100%);
  background: linear-gradient(45deg, #a6bcfa 0%, #7295f8 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25px;
}
.box:hover .front,
.box:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.box .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.box .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.box:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.box:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.projects__card--link {
  position: relative;
  width: 250px;
  height: 80px;
  display: grid;
  place-items: center;
  background: #a6bcfa;
  color: #fff;
  border-radius: 80px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  border-top: 2px solid #e6e6fa;
  border-left: 2px solid #e6e6fa;
  padding-left: 60px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.projects__card--link:hover {
  padding-left: 0;
  padding-right: 60px;
  color: #fff;
}
.projects__card--link span {
  position: absolute;
  display: grid;
  place-items: center;
  left: 5px;
  width: 70px;
  height: 70px;
  background: #fff;
  color: #a6bcfa;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.projects__card--link:hover span {
  left: calc(100% - 76px);
}
.projects__card--link::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  transform: translateX(-175px) skew(25deg);
  transition: 0.75s ease-in-out;
}
.projects__card--link:hover::after {
  transform: translateX(175px) skew(25deg);
}
